* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}

.navLeft {
    height: 100%;
    width: 50%;
}

.navRight {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 100px;
}

#nav button {
    height: 40px;
    width: 70px;
}