#form {
    width: 100%;
    margin-top: 30px;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.header h1 {
    text-align: center;
    font-size: 1.67rem;
    font-weight: 600;
    color: #fff;
}

.subdiv {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.subdiv input {
    height: 100%;
    padding: 0.2vw 1vw;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    border-radius: 0.6vw;
}

.fname, .lname, .gender, .dob, .mob, .whatsapp, .board, .medium {
    width: 50%;
}

.add {
    width: 70%;
}

.city {
    width: 30%;
}

.school, .email {
    width: 100%;
}

.register {
    height: 90%;
    width: 100%;
    background-color: #0990F8;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.5vw;
}

/* Mobile Styles */
@media (max-width: 900px) {
    .subdiv {
        height: 100px;
        flex-direction: column;
        gap: 20px;
    }

    .subdiv input {
        height: 100%;
        padding: 0.2vw 3vw;
        font-size: 0.9rem;
    }

    .fname, .lname, .gender, .dob, .mob, .whatsapp, .board, .medium, .add, .city, .school, .email {
        width: 100%;
    }

    .register {
        height: 50%;
        width: 100%;
    }
}
